div
{   height: 200px;
    background-color:#E4F9F5;
}
body{
    margin: 0;
}
h1{
    margin: 0;
}
.top
{
    height:200px;
    width:200px;
    background-color: red;
}
.bot
{
    height: 200px;
    width:200px;
    background-color: blue;
}